{% extends 'base_layout.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <h1>Login with your account</h1>

    <form class="form-with-validation"
          action="{% url 'users:login' %}" method="post">

        {% csrf_token %}
        {{ form }}

        <button class="form-submit">Submit</button>

        <!-- if GET request has next value -->
        {% if request.GET.next %}
            <!-- hidden input tag get the request.GET.next val -->
            <input type="hidden"
                   name="next" value="{{ request.GET.next }}"/>

        {% endif %}
    </form>

{% endblock content %}